Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:---

A database is like a digital filing cabinet where we can store and organize information. It helps software applications (like websites or apps) to keep track of lots of data efficiently.

1)SQL(Structured Query Language):

a)SQL has fixed compartments for diiferent types of information.

b)It has table with fixed coloumns and rows

c)SQL databases are often vertically scalable, relying on hardware upgrades for increased capacity.



2)NoSQL(Not Only Structured Query Language):

a)It does not has fixed compartments means we can create some new things

b)It does not have only table and coloumn ,it has more options data models like graph,document,key-value.

c)NoSQL databases are often horizontally scalable, distributing data across multiple servers for better performance and handling large-scale data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans:---
1)DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the structure of a database.

2)They are used to create, modify, and delete database objects like tables, indexes, and views. These statements do not manipulate the data itself but rather the schema and structure of the database.

a)CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, views, or stored procedures. 

b)DROP:
The DROP statement is used to delete existing database objects like tables, indexes, or views.

c)ALTER:
The ALTER statement is used to modify existing database objects. We can use it to add, modify, or delete columns from a table, change data types, or add constraints.

d)TRUNCATE: 
The TRUNCATE statement is used to remove all rows from a table, but it keeps the table structure intact.TRUNCATE doesn't delete the table itself, and it's faster than using DELETE to remove all rows.

In [ ]:
##CREATE

create table student_details(
    age INT 
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(100))

###DROP

drop table  student_details


###ALTER 

alter table student_details
add phone_number date

###TRUNCATE 

truncate table student_details

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:---
1)DML stands for Data Manipulation Language, which is another subset of SQL,whichis used to manipulate data within database.

2)DML statements are used to insert, update, and delete data from database tables.

a)INSERT: 
The INSERT statement is used to add new rows (records) into a table. It allows us to specify the values for each column of the table. 

b)UPDATE: 
The UPDATE statement is used to modify existing data in a table. It allows us to change the values of specific columns in one or more rows based on certain conditions.

c)DELETE:
The DELETE statement is used to remove rows from a table based on specified conditions. It allows us  to delete one or more rows that match a certain criteria.

In [ ]:
###INSERT

insert  into student_details (age, first_name, last_name, department)
values (20, "navid", 'khan', 'computer_science');

###UPDATE

update student_details
set department="physics"
where age=20

###DELETE

delete from student_details
where age=20

Q4. What is DQL? Explain SELECT with an example.

Ans:---
1)DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for retrieving and querying data from a database. 

2)The SELECT statement, which allows us to retrieve specific data from one or more database tables based on certain criteria.



####example

| book_id | title                  | author         | genre     |
|---------|------------------      |----------------|-----------|
| 1       | THINK AND GROW RICH    |NAPOLEON HILL   | CLASSIC   |
| 2       | THE POWER POWER OF     | JOSEPH MURPHY  |           |
          |SUBCONSIOUS MIND        |                | CLASSIC   |
| 3       | 1984                   | George Orwell  | Dystopia  |

**Example of SELECT statement:**

```sql
SELECT title, genre FROM Books WHERE author= "JOSEPH MURPHY";
```

**Result:**

| title              | genre       |
|---------------     |-------------|
|  THE POWER POWER OF| CLASSIC     |
| SUBCONSIOUS MIND   |             |

Q5. Explain Primary Key and Foreign Key.

Ans:---

1)Primary Key:

A primary key is a column or a combination of columns in a database table that uniquely identifies each row in that table. It enforces data integrity and ensures that there are no duplicate or null values in the primary key column. In most database systems, a primary key is automatically indexed, which allows for fast data retrieval.

a)Uniquely identifies each row in a table.
b)Ensures no duplicate or null values.
c)Often used as a reference in relationships with other tables.

2)Foreign Key:

A foreign key is a column or a combination of columns in one table that refers to the primary key of another table. It establishes a relationship between two tables, allowing data in one table to be linked and associated with data in another table.


a)Establishes a link between two tables.
b)References the primary key of another table.
c)Maintains data integrity and consistency between related tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans:---
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("insert into test2.test_table values(70,'mustaqeem',True,90.89,'siddiqui')")

1)cursor():

The cursor() method is called on the MySQL connection object. It returns a cursor object, which is used to interact with the database and execute SQL queries.


2)execute(): 

The execute() method is used on the cursor object to execute SQL queries. It takes the SQL query as a parameter and runs it against the connected database. In the example, we executed a SELECT query to retrieve data from the "student_details" table.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans:---

SQL (Structured Query Language) clauses are keywords or commands used to define various parts of an SQL query. These clauses are used to perform different operations on the data stored in a database. Each clause serves a specific purpose and helps in retrieving, modifying, or managing data within a database. Some of the essential SQL clauses include:

1.**SELECT:** Used to retrieve data from one or more database tables.

2.**FROM:** Specifies the table(s) from which data will be retrieved.

3.**JOIN:** Used to combine rows from multiple tables based on related columns.

4.**WHERE:** Filters the rows based on specified conditions.

5.**GROUP BY:** Groups the result set based on one or more columns for aggregation.

6.**HAVING:** Filters groups formed by the GROUP BY clause based on aggregate conditions.

7.**ORDER BY:** Sorts the result set based on specified columns in ascending or descending order.

8.**DISTINCT:** Eliminates duplicate rows from the result set.

9.**INSERT INTO:** Adds new rows (records) into a table.

10.**UPDATE:** Modifies existing data in a table.

11.**DELETE:** Removes rows from a table based on specified conditions.

12.**CREATE TABLE:** Creates a new database table with specified columns and data types.

13.**ALTER TABLE:** Modifies the structure of an existing database table.

14.**DROP TABLE:** Removes an entire database table and its data.

15.**TRUNCATE TABLE:** Removes all rows from a table, but keeps the table structure intact.

16.**INDEX:** Creates an index on a column(s) to improve query performance.

17.**GRANT:** Assigns specific privileges to users or roles.

18.**REVOKE:** Removes specific privileges from users or roles.